*{
    margin: 0;
    padding:0;
}
/* Home Screen  Starts   /////////////////////////////////////////////////////////////////////////////////  */
.round{
    border-radius: 25px;
}
nav{
    width: 100%;
}

h1{
    font-family: 'Open Sans', sans-serif; 
    font-weight: normal;
    padding-top: 80px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.desired-company{
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
}
.searchbar-input{
    height: 50%;
    position: relative;
}

#form-outline-style{
    width:60%;
    height: 100px;
    margin-bottom: 8%;
    margin-left: 18%;
    position: relative;
}
.container-card-sandwich{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90%; justify-content: space-between;
}
.container-card{
    background-color: whitesmoke; 
    justify-content: space-evenly; 
    display: flex;
    padding: 15px;
    width: 80%;
}

.card-p{
    font-size:initial;
    font-weight: lighter;
}

/* Recommended Card Starts*/
.recommended-card{
    padding: 5%;
    justify-content:space-evenly;
    margin-bottom: 30px;
}
.recommended-card-h2{
    margin-top: 8%;
}

.recommended-card-container-fluid{
    justify-content: space-evenly;
    margin-bottom: 6%;
}

/* Recommended Card Ends*/

iframe{

    margin: 40px 30px;

}


h3{
    font-weight:normal;
    font-size:large;
}

h2{
    margin-bottom: 3%;
    margin-left: 2.5% ;
}

.white{
    background-color: white;
}
.whitesmoke{
    background-color: whitesmoke;
}


/* Home Screen  Ends*/


/* Service Provider Profile Screen  Starts     ///////////////////////////////////////////////////////////////////////////////////////  */

.navbar-img{
    margin-left:65px

}

.company-card-margin{
    margin-top:40px;
}


.about-p{
    margin: 30px 30px;
}

.divider{
    border-left: 1px solid grey;
    height: 100px;
  }

/* Service Provider Profile Screen Ends*/