*{
    margin: 0;
    padding:0;
}
body{
    width: 100%;
    height: 100%;
    padding: 0; 
    margin: 0;
}
.round{
    border-radius: 25px;
}

h1{
    font-family: 'Open Sans', sans-serif; 
    font-weight: normal;
    padding-top: 80px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.desired-company{
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
}
.searchbar-input{
    height: 50%;
    position: relative;
}

#form-outline-style{
    width:60%;
    height: 100px;
    margin-bottom: 8%;
    margin-left: 18%;
    position: relative;
}
.container-card-sandwich{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.container-card{
    background-color: whitesmoke; 
    justify-content: space-evenly; 
    display: flex;
    padding: 15px;
    width: 80%;
}

.card-p{
    font-size:initial;
    font-weight: lighter;
}

/* Recommended Card Starts*/
.recommended-card{
    padding: 5%;
    justify-content:space-evenly;
    margin-bottom: 30px;
}
.recommended-card-h2{
    margin-top: 8%;
}

.recommended-card-container-fluid{
    justify-content: space-evenly;
    margin-bottom: 6%;
}

/* Recommended Card Ends*/


/* .iframe-position{
    margin-left: 15%;

}

.iframe-text{
    margin-left: 40%; 
    margin-top:4%; 
    margin-bottom: 10%; 
    padding-top: 8%;
}

.video-h2{
    padding-top: 8%;
    padding-bottom: 4%;
    margin-left: 7% ;
} */

h3{
    font-weight:normal;
    font-size:large;
}

h2{
    margin-bottom: 3%;
    margin-left: 2.5% ;
}