body{
    width: 100%;
    height: 100%;
    padding: 0; 
    margin: 0;
}
.round{
    border-radius: 25px;
}
/* .nav-button{
    margin-top:15;
    margin-bottom: 15;
} */

h1{
    font-family: 'Open Sans', sans-serif; 
    font-weight: normal;
    padding-top: 80px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.desired-company{
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}
.searchbar-input{
    height: 50%;
}

#form-outline-style{
    width:60%;
    height: 100px;
    margin-bottom: 8%;
    margin-left: 18%;
}
.container-card-sandwitch{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.container-card{
    background-color: whitesmoke; 
    justify-content: space-evenly; 
    display: flex;
    padding: 15px;
    width: 80%;
}

.card-p{
    font-size:initial;
    font-weight: lighter;
}

.recommended-card{
    padding: 60px;
}
.recommended-card-h2{
    margin-top: 8%;
    margin-bottom: 30px;
}

.card-text-align{
    text-align: center;
    margin-bottom: 15px;
}
.recommended-card-button-align{
    margin-left: 22% ;
}
.recommended-card-row{
    display:flex; 
    justify-content:space-evenly;
}

.latest-service-h2{
    margin-bottom: 30px;
    margin-left: 4.4% ;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    height: 0;

}
.iframe-container .iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

}

.iframe-position{
    margin-left: 15%;

}

.video-h3{
    padding-top: 8%;
    margin-left: 15%;
    padding-bottom: 4%;


}

h3{
    font-weight:bold;
    font-size:large;
}