*{
    margin: 0;
    padding:0;
}

/* Common margin positioning ///////////////////////////////////////////////////     */

.margin-left-120{
    margin-left: 120px; /* page-4, 10 */
}

.margin-left-100{
    margin-left: 100px; /*page-6 , 9*/
}


.margin-left-90{
    margin-left: 90px;  /*page 1,2 , 3*/
}



.margin-left-50{
    margin-left: 50px;
}


/* Common padding positioning   ///////////////////////////////   */

.padding-right-120{
    padding-right: 120px;  /*page-6 , 9*/
}

.padding{
    padding: 0px 50px; /*page - 9 , 11 */
}

/*  Common Card Width */

.card-width-18{
    width: 18rem;
}

.card-width-22{
    width: 22rem;
}

.card-width-50{
    width: 50rem;
}

/* Home Screen  Starts ////////////////////////////////  */
.round{
    border-radius: 10px;
}


.navbar-img{
    margin-left:65px
}


h1{
    font-family: 'Open Sans', sans-serif; 
    font-weight: normal;
    padding-top: 80px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.desired-company-background-color{
    background-color:#e5e4e2;
}
.desired-company{
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
}
.searchbar-input{
    height: 50%;
    position: relative;
}

#form-outline-style{
    width:60%;
    height: 100px;
    margin-bottom: 8%;
    margin-left: 18%;
    position: relative;
}
.container-card-sandwich{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90%; 
    justify-content: space-between;
}


/* Recommended Card */
.recommended-card{
    padding: 5%;
    margin-bottom: 30px;
}


/* lastest Service Card*/

.latest-service-margin{
    margin-left: 10px;
}

iframe{

    margin: 40px 30px;

}


h3{
    font-size:large;
}

h2{
    margin-bottom: 3%;
    margin-left: 2.5% ;
}


/* Home Screen  Ends*/


/* Service Provider Profile Screen (page Starts //////////////////////////////////////  */


.company-card-margin{
    margin-top:40px;
}


.about-p{
    margin: 30px 30px;
}

.divider{
    border-left: 1px solid grey;
    height: 140px;
    
  }

/* Service Provider Profile Screen Ends*/


