body{
    width: 100%;
    height: 100%;
    padding: 0; 
    margin: 0;
}
.round{
    border-radius: 25px;
}
/* .nav-button{
    margin-top:15;
    margin-bottom: 15;
} */

h1{
    font-family: 'Open Sans', sans-serif; 
    font-weight: normal;
    padding-top: 80px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.desired-company{
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}
.searchbar-input{
    height: 50%;
}

#form-outline-style{
    width:70%;
    height: 100px;
    margin-bottom: 25px;
    margin-left: 14%;
}

.container-card{
    background-color: white; 
    justify-content: space-evenly; 
    display: flex;
    padding: 15px;
    width: 85%;
    height:fit-content;
    z-index: -1;
}

.card-p{
    font-size:initial;
    font-weight: lighter;
}

.recommended-card{
    padding: 60px;
}
.recommended-card-h2{
    margin-bottom: 30px;
}

.card-text-align{
    text-align: center;
    margin-bottom: 15px;
}
.recommended-card-button-align{
    margin-left: 22% ;
}
.recommended-card-row{
    display:flex; 
    justify-content:space-evenly;
}

.latest-service-h2{
    margin-bottom: 30px;
    margin-left: 4.4% ;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;}
  
    .container-fluid .round .container-card .scrolling-wrapper .card {
    display: inline-block;
    justify-content: space-evenly; 
    display: flex;
}